<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" href="css/bootstrap.min.css" >
	<link rel="stylesheet" href="css/myweb.css" >
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/bootstrap.min.js" ></script>
</head>
<body>

    <div class="container" style="width: 25%; margin-top: 10%;">

      <form role="form" class="form-signin">
        <h2 class="form-signin-heading">Đăng Nhập</h2>
        <input type="email" autofocus="" required="" placeholder="Email" class="form-control">
        <input type="password" required="" placeholder="Password" class="form-control" style="margin-top: 10px;">
        <button type="submit" class="btn btn-lg btn-primary btn-block">Đăng Nhập</button>
        
      </form>

    </div>

</body>
</html>